.roadCardWrapper {
  background: linear-gradient(
    140deg,
    rgba(236, 22, 81, 1) 20%,
    rgba(132, 236, 239, 1) 100%
  );
  color: #fff;
  height: 220px;
  margin: 20px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
}

.roadCardTop {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.roadDiv {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.roadHeaderContainer {
  margin-top: 70px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #ec1651;
  font-size: 38px;
  line-height: 53px;
  font-weight: 800;
}

ul > li {
  font-size: 14px;

  list-style-type: circle;
  margin-top: -12px;
}

.roadmapBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin: 40px auto;
  visibility: hidden;
}

.arrowBtnContainer {
  background: linear-gradient(269.14deg, #84ecef 1.14%, #ec1651 59.79%);
  padding: 2px;
  margin: 0 10px;
}

.arrowBtn {
  background: white;
  padding: 10px 40px;
  border-radius: 50px;
}
.arrowBtn span {
  background: linear-gradient(269.14deg, #84ecef 1.14%, #ec1651 59.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.slick-slide > div {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1080px) {
  .roadHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .roadCardWrapper {
    height: 240px;
  }
  .roadmapBtns {
    visibility: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .roadmapBtns {
    visibility: visible;
  }
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 0;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: 0;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0;
  color: black;
}

.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-thumb li {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: rgba(236, 22, 81, 0.6);
}

.slick-thumb li.slick-active {
  background-color: rgb(236, 22, 81);
  width: 24px;
}
