.countdown {
  background-color: #ec1651;
  display: flex;
  position: fixed;
}

.countdownHidden {
  display: none;
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 767px) {
}
