.wheretobuyContainer {
  display: flex;
  align-items: flex-end;
  margin: auto;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
  background: linear-gradient(96.68deg, #ec1651 -0.95%, #84ecef 100.81%);
  border-radius: 30px;
  font-family: 'Montserrat';
  color: white;
  position: relative;
  height: 80%;
}

.wheretobuyTitle {
  color: white;
  font-weight: 800;
  font-size: 36px;
}

.wheretobuySectionLeft {
  justify-content: left;
  text-align: left;
  width: 50%;
}

.wheretobuySubSectionLeft {
  width: fit-content;
  float: left;
  margin: 25px;
}

.wheretobuyPara {
  color: white;
}

.wheretobuyPara .solvFinance {
  color: #84ecef;
}

.wheretobuyCheckList {
  justify-content: left;
  align-items: center;
  text-align: left;
  display: flex;
}

.wheretobuyGetithere {
  color: black;
  background-color: #84ecef;
  width: 136px;
  height: 42px;
  border-radius: 50px;
  border: none;
}

.wheretobuySectionRight {
  width: 50%;
}

.wheretobuySectionRight > img {
  float: right;
  margin: 20px;
}

@media only screen and (max-width: 1024px) {
  .wheretobuySectionLeft {
    justify-content: left;
    text-align: left;
  }

  .wheretobuySectionRight {
    width: 50%;
  }
  
  .wheretobuySectionRight > img {
    width: 100%;
    height: 100%;
    float: right;
    margin: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .wheretobuySectionLeft {
    margin-right: 0px;
    z-index: 100;
    width: 100%;
  }

  .wheretobuySectionRight {
    margin-left: 0px;
    opacity: 0.5;
    z-index: 90;
    position: absolute;
    width: 100%;
  }

  .wheretobuySectionRight > img {
    width: 80%;
    height: 80%;
    float: none;
    margin: auto;
  }
    
  .wheretobuyContainer {
    padding: 10px;
    width: auto;
    margin: 10px;
    margin-bottom: 50px;
  }
}