.logosContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  flex-wrap: wrap;
  margin-left: -30px;
}

.logosContainer::after {
  content: '';
  flex: auto;
  max-width: 615px;
}

.logosContainer > img {
  margin: 20px 0px 20px 20px;
}

.logosContainer > img:last-child {
  margin-right: -10px;
}

.partnersContainer > h2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 1024px) {
  .logosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .logosContainer::after {
    flex: none;
    width: 100%;
  }

  .logosContainer > img:first-child {
    margin-left: 0;
  }

  .logosContainer > img:last-child {
    margin-right: 0;
  }

  .partnersContainer > h2 {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .logosContainer {
    justify-content: space-around;
    margin-left: 0px;
  }

  .logosContainer > img:first-child {
    margin-left: 10px;
  }

  .logosContainer > img:last-child {
    margin-right: 10px;
  }

  .logosContainer > img {
    margin: 10px;
  }
}
